@media screen and (max-width: 980px) {
	.header-inner{
		display: block;
	}
	.main-nav ul{
		margin: 20px 0 0;
	}
	.main-nav a{
		display: inline-block;
		margin: 0 24px 8px 0;
		padding: 8px 15px;
		background: rgba(0, 0, 0, 0.2);
		border-radius: 4px;
	}

	.main-block{
		background-size: auto 100%;
	}

	.main-block h1,
	.main-block p{
		font-size: 34px;
	}
	.mid-block p{
		width: 60%;
		font-size: 18px;
	}
	.box p{
		font-size: 18px;
	}
	.box h3{
		font-size: 25px;
	}
	.box{
		width: 100%;
	}
	.box-2{
		margin: 0 0 60px 0;
	}
	.box-4{
		margin: 0;
	}
}

@media screen and (max-width: 580px){
	.main-block h1,
	.main-block p{
		font-size: 30px;
	}
	.mid-block p{
		font-size: 15px;
	}
	.foot-block{
		flex-wrap: wrap;
	}
	.foot{
		width: 20%;
		margin-top: 20px;
	}
}